In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/all_st.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31
0,9,0,California,state,NaN,189941.083557,190575.156948,191424.465351,193265.350054,195397.239796,...,767990.199085,767913.074896,769512.186358,773759.709911,778647.153064,781489.116381,783680.716030,785600.537660,787971.516726,789682.973337
1,54,1,Texas,state,NaN,111027.321208,111084.902957,111112.748505,111257.301986,111349.721806,...,299951.648526,300228.058078,301109.030655,301978.572060,302324.101841,302112.969026,301577.999813,301188.651460,300952.088105,300712.091402
2,14,2,Florida,state,NaN,113269.221141,113522.494633,113824.724865,114430.520208,115078.630576,...,412975.408432,413904.071012,414944.203899,415862.795269,416209.388878,415619.551410,414758.879266,413927.429781,413257.280087,412469.692485
3,43,3,New York,state,NaN,138979.501439,139444.664549,139897.446908,140878.333994,141899.073549,...,436255.509091,438648.840664,441631.820433,445308.012700,448638.592263,451330.079925,453622.474786,456378.737780,459093.248515,461615.264629
4,47,4,Pennsylvania,state,NaN,99325.159675,99534.907545,99734.576999,100139.362023,100552.787955,...,262071.016367,262933.274907,264263.880571,265948.793081,267456.133235,268371.119451,268732.316321,269001.236812,269407.285863,270173.074129
5,21,5,Illinois,state,NaN,127416.059187,127517.537015,127736.834373,128251.915825,128863.016842,...,260590.012107,261756.942772,263776.011489,266305.432080,268192.827475,269431.157196,270159.223173,271026.905892,271887.378819,272880.420417
6,44,6,Ohio,state,NaN,105826.495002,105893.684718,105992.047019,106280.548110,106721.011346,...,222072.285543,222890.051485,224508.130377,226619.918478,228566.247303,229912.588569,230824.598909,231450.044594,231872.054067,232362.754041
7,16,7,Georgia,state,NaN,122403.895637,122675.626620,122990.628316,123654.932936,124389.706952,...,321691.914654,322395.885139,323709.172456,325357.736309,326713.714937,327360.349125,327641.857150,327883.703842,327990.835192,327827.768825
8,36,8,North Carolina,state,NaN,128188.275086,128380.461499,128578.773575,129010.368651,129495.901979,...,325224.421887,325626.508670,326958.303581,328766.768093,330460.037725,331176.864105,331359.868535,331189.283841,331102.845996,331148.209757
9,30,9,Michigan,state,NaN,114260.652385,114318.888036,114547.763551,115006.704748,115686.628251,...,234465.899934,235393.282607,237254.722129,239582.281486,241285.743914,242353.677517,242746.405369,243079.807012,243326.896688,243915.553734
10,40,10,New Jersey,state,NaN,173514.923268,173970.966733,174405.555463,175373.559377,176359.669705,...,518993.617261,522790.104668,528047.894192,534083.675835,538704.648124,541901.659292,544606.062622,547764.607805,551171.362094,554214.533253
11,56,11,Virginia,state,NaN,124623.401446,124955.519901,125298.996373,125945.595066,126567.739176,...,383900.121166,385019.039356,387136.578236,390074.113106,392746.029882,394376.713023,395337.679398,396279.590429,397432.747397,398912.130401
12,59,12,Washington,state,NaN,175532.322286,175922.866434,176322.389360,177129.166527,178005.553996,...,585862.217478,586991.159241,589719.899627,593479.527905,596907.699442,598474.029639,599163.841038,599780.211049,601503.431109,603827.633241
13,8,13,Arizona,state,NaN,136947.512024,137204.140240,137528.790623,138187.526007,138928.261139,...,434714.143201,435286.988822,436645.978952,438311.272744,439619.299382,439896.018989,439493.955529,438639.017905,437915.335536,437370.484980
14,26,14,Massachusetts,state,NaN,198006.655468,198661.057899,199441.356456,200974.388122,202638.958242,...,615200.632873,617241.412280,620928.127328,626340.301874,631232.006043,634308.550517,636408.737031,638593.655480,640931.110117,642921.590960
15,53,15,Tennessee,state,NaN,108813.632030,108901.814981,108992.555120,109211.296005,109465.855458,...,312288.033699,312681.891758,314026.860273,316053.597009,318048.463169,319111.013294,319549.894684,319345.655388,319020.750879,318865.680185
16,22,16,Indiana,state,NaN,97598.587643,97460.989124,97308.342628,96854.805468,96642.378830,...,233767.909412,234818.752590,236604.366031,238479.465533,240040.092375,240932.429083,241376.754197,241763.805027,242227.924858,242871.743611
17,27,17,Maryland,state,NaN,154526.929981,154505.207867,154612.688632,154876.351548,155423.184533,...,419533.917526,420636.956760,423060.950984,426199.469695,428572.989459,429304.802563,429075.226284,428863.613122,429576.293768,431018.313123
18,32,18,Missouri,state,NaN,96191.008613,96300.728410,96468.571259,96858.148840,97367.233941,...,242252.180945,242935.010314,244094.441504,245513.828908,246544.824866,247233.287390,247790.228505,248456.228613,249096.981305,249728.280432
19,60,19,Wisconsin,state,NaN,120293.046236,120267.226588,120404.616768,120600.297823,120979.506662,...,295873.876603,296770.649045,299187.626563,302510.996196,304902.183138,306547.291192,307469.244566,308407.955554,309081.313801,310053.209549
20,10,20,Colorado,state,NaN,178135.351021,178767.293820,179463.170224,181014.909328,182744.764972,...,547559.287093,547647.626388,548375.069853,549775.827256,550663.835621,550578.117670,550370.574869,550593.951256,551606.721955,552608.724257
21,31,21,Minnesota,state,NaN,126727.215796,127150.423757,127541.306380,128463.248408,129473.450912,...,334013.888526,334246.530038,335447.032459,336936.099740,337774.996298,337609.252134,337257.141516,337427.785931,338079.133592,339303.470992
22,51,22,South Carolina,state,NaN,112498.491508,112714.108311,112901.152443,113332.816729,113757.620727,...,291628.919290,292192.752917,293355.290821,294896.353756,296200.158936,296953.295221,297375.276849,297635.758923,297704.575202,297698.448837
23,4,23,Alabama,state,NaN,97975.004803,98145.610775,98258.077681,98509.453856,98789.013509,...,221086.102463,220998.457097,221740.501042,223124.864821,224446.639134,225031.251170,225141.877072,225015.729725,224892.622727,225030.701893
24,25,24,Louisiana,state,NaN,105803.761785,106020.365182,106186.553395,106553.756779,106934.211742,...,203899.630254,203693.726732,204024.012299,204979.777001,205560.304260,205488.093209,204962.130621,204117.035331,203210.463671,202586.031170
25,24,25,Kentucky,state,NaN,86269.155253,86313.756178,86395.006164,86596.056071,86864.037911,...,205732.752697,206075.964205,206960.923596,208818.726684,210500.935968,211728.195792,212239.797680,212574.082458,212480.404133,212754.347570
26,46,26,Oregon,state,NaN,152136.138797,152469.467434,152776.230550,153417.893947,153993.106887,...,495500.112735,495717.454304,496682.832155,497817.580688,498770.819718,498888.721241,499000.467270,499198.771576,500030.153820,501153.671656
27,45,27,Oklahoma,state,NaN,81649.493070,81685.963167,81842.955423,82129.312665,82511.710396,...,202457.150568,202883.866561,203583.360183,204612.552818,205431.051760,205928.949539,206159.273616,206555.944428,206840.435455,207274.965068
28,11,28,Connecticut,state,NaN,171099.477104,171744.706785,172423.709049,173571.158386,174509.664409,...,409815.243395,412187.519235,415649.045564,419633.175735,422940.915962,424929.562110,426382.688329,427784.673253,429404.698634,430843.707844
29,55,30,Utah,state,NaN,170565.978545,170664.265608,170807.151611,171168.984274,172491.130360,...,522232.811214,522420.011193,523782.928924,525408.854164,526325.993863,526034.133077,525163.306626,524633.418788,525362.069767,527319.353127
30,19,31,Iowa,state,NaN,90860.777832,91042.576589,91208.938484,91573.847957,91970.355599,...,216844.195231,217358.373545,218650.819999,220431.027695,222099.126117,223058.832524,223372.238566,223507.921251,223616.577505,224074.402350
31,42,32,Nevada,state,NaN,160819.455071,160833.916890,161085.969987,161658.567163,162391.055577,...,441166.979446,442973.398060,445108.304899,447901.385163,450600.757436,452802.247075,454615.734751,456228.472618,457820.357430,459336.479706
32,6,33,Arkansas,state,NaN,86360.431742,86475.197483,86605.327077,86883.928588,87158.495961,...,201582.850068,201920.131066,202932.651310,204474.183369,205789.621862,206640.226097,207083.261741,207479.434131,207559.971615,207658.861242
33,34,34,Mississippi,state,NaN,87181.007811,87131.949966,87128.903917,87189.426535,87493.896058,...,177686.179830,178011.718806,179046.787092,180471.279985,181563.994085,181826.812595,181428.267991,180856.147026,180373.548900,180612.318484
34,23,35,Kansas,state,NaN,87654.316282,87669.576124,87770.568692,87920.497606,88146.869048,...,218029.920623,218553.973542,220035.347339,221918.235270,223634.897474,224957.599014,226082.079589,227249.537695,228236.450709,229221.405123
35,41,36,New Mexico,state,NaN,NaN,NaN,NaN,NaN,NaN,...,296960.627313,297577.168400,299108.600463,300903.218064,302378.163315,302853.971057,303013.058151,303344.954562,304126.695677,305058.580499
36,38,37,Nebraska,state,NaN,113991.861931,114172.905049,114341.540753,114599.062726,114722.474122,...,253102.396119,253991.656988,255394.365057,256807.793082,257867.913729,258265.612293,258462.494116,258698.926410,259197.708129,259931.925534
37,20,38,Idaho,state,NaN,121353.972318,121280.092517,121325.560108,121422.845491,121741.200349,...,443639.652875,444215.575937,445926.808303,447992.135678,449311.118599,449666.319775,449907.833601,450575.728714,451634.549203,452683.570001
38,61,39,West Virginia,state,NaN,73381.247456,73378.208729,73402.867726,73463.368442,73579.823204,...,159596.027727,160117.081520,161384.912234,163063.232933,164655.355062,165798.891159,166760.928882,167352.893964,167669.496815,168057.511159
39,18,40,Hawaii,state,NaN,218492.200054,218497.344682,218894.648552,219632.055340,220884.924993,...,951386.573275,951437.082212,954978.149908,962531.199341,969820.984458,972431.479229,972301.179691,972481.102410,974511.676638,976197.170324
40,39,41,New Hampshire,state,NaN,138243.419401,138704.241385,139260.080849,140085.560744,140991.211961,...,474410.377272,476110.207215,479512.193075,484417.493170,488648.350762,491417.468634,493142.300411,495351.255441,497832.787082,500527.625280
41,28,42,Maine,state,NaN,106263.066544,106615.909691,106934.343209,107626.556884,108276.395933,...,386356.634243,387185.230067,389221.691571,392187.646645,394577.510002,395551.110627,395852.946084,396443.884647,397464.541727,398662.622747
42,50,43,Rhode Island,state,NaN,132113.556397,132695.863417,133318.572520,134543.569739,135771.738840,...,450445.319743,451953.035421,454668.576304,458844.095762,463267.887350,466548.871537,469423.411759,472253.004032,475100.085343,477580.866232
43,35,44,Montana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,452037.636089,453933.371697,456566.618958,459004.775532,459876.757933,459919.577146,459865.779411,460961.936497,462823.524965,465027.981040
44,13,45,Delaware,state,NaN,148762.287657,148992.823747,149278.798788,149934.133093,150684.174363,...,382881.178283,382786.042145,383400.889128,384943.557696,386340.194599,386677.520006,386338.216704,386480.353513,387097.342234,388454.274504
45,52,46,South Dakota,state,NaN,108386.639768,108158.551230,107838.076205,107406.461508,107227.132476,...,298640.358889,299609.991110,301676.054341,303675.200373,304858.130960,305157.345852,305100.360174,305334.200475,306114.428573,307249.767884
46,37,47,North Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,258046.945000,258196.872696,259649.354761,261542.187582,263077.869575,264304.543043,265336.741993,266250.209682,267047.587869,268007.903515
47,3,48,Alaska,state,NaN,135123.098557,135355.337187,135446.255981,135622.003071,135794.421166,...,368273.980915,369224.868438,370748.305928,371891.786888,372840.605453,373486.607926,373725.505066,373857.108571,374443.501187,375773.963522
48,12,49,District of Columbia,state,NaN,181591.414212,181990.032640,182670.910303,184198.672071,186029.977610,...,716912.553944,715995.390935,716772.957431,718160.637308,717777.184144,714288.229978,710489.606792,706989.450227,706641.608451,706313.617085
49,58,50,Vermont,state,NaN,114573.573888,114746.984203,115038.062219,115608.880655,116285.603386,...,389369.322394,388528.573156,389362.674568,391741.536805,393975.412098,395515.983557,395250.319468,394880.821828,394022.349713,393578.894823
50,62,51,Wyoming,state,NaN,NaN,NaN,NaN,NaN,NaN,...,341036.904110,341298.527667,342517.679679,344115.919408,345460.227042,346223.223400,346761.950907,348183.688728,350496.641190,353292.846225

In [3]:
df_2018=df.filter(regex='^2018',axis=1)
df_2020=df.filter(regex='^2020',axis=1)
df_2016=df.filter(regex='^2016',axis=1)
df_2015=df.filter(regex='^2015',axis=1)
df_2014=df.filter(regex='^2014',axis=1)

In [4]:
df_2014['avg']=df_2014.mean(axis=1)
df_2015['avg']=df_2015.mean(axis=1)
df_2016['avg']=df_2016.mean(axis=1)
df_2018['avg']=df_2018.mean(axis=1)
df_2020['avg']=df_2020.mean(axis=1)
df_2014['avg']=df_2014['avg'].fillna(0).astype('int')
df_2015['avg']=df_2015['avg'].fillna(0).astype('int')
df_2016['avg']=df_2016['avg'].fillna(0).astype('int')
df_2018['avg']=df_2018['avg'].fillna(0).astype('int')
df_2020['avg']=df_2020['avg'].fillna(0).astype('int')

C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014['avg']=df_2014.mean(axis=1)
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['avg']=df_2015.mean(axis=1)
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016['avg']=df_2016.mean(axis=1)
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['avg']=df_2018.mean(axis=1)
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['avg']=df_2020.mean(axis=1)
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014['avg']=df_2014['avg'].fillna(0).astype('int')
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['avg']=df_2015['avg'].fillna(0).astype('int')
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016['avg']=df_2016['avg'].fillna(0).astype('int')
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['avg']=df_2018['avg'].fillna(0).astype('int')
C:\Users\obuli\AppData\Local\Temp\ipykernel_49376\1509327994.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['avg']=df_2020['avg'].fillna(0).astype('int')

In [5]:
h=df[['RegionName']]
h=h.rename(columns={'RegionName':'name'})

In [6]:
h_2020=h
h_2020['year']=2020
h_2020['house_price']=df_2020['avg']
h_2020

                    name  year  house_price
0             California  2020       568682
1                  Texas  2020       220730
2                Florida  2020       269012
3               New York  2020       316189
4           Pennsylvania  2020       200488
5               Illinois  2020       200105
6                   Ohio  2020       163537
7                Georgia  2020       213763
8         North Carolina  2020       219846
9               Michigan  2020       176743
10            New Jersey  2020       373759
11              Virginia  2020       288944
12            Washington  2020       433252
13               Arizona  2020       298759
14         Massachusetts  2020       444630
15             Tennessee  2020       213479
16               Indiana  2020       168259
17              Maryland  2020       336865
18              Missouri  2020       176401
19             Wisconsin  2020       219906
20              Colorado  2020       417452
21             Minnesota  2020       268466
22        South Carolina  2020       203286
23               Alabama  2020       167764
24             Louisiana  2020       192241
25              Kentucky  2020       153433
26                Oregon  2020       382248
27              Oklahoma  2020       147222
28           Connecticut  2020       280855
29                  Utah  2020       371527
30                  Iowa  2020       169278
31                Nevada  2020       323794
32              Arkansas  2020       154744
33           Mississippi  2020       146158
34                Kansas  2020       161267
35            New Mexico  2020       210126
36              Nebraska  2020       188241
37                 Idaho  2020       309114
38         West Virginia  2020       123856
39                Hawaii  2020       712188
40         New Hampshire  2020       313965
41                 Maine  2020       252815
42          Rhode Island  2020       315548
43               Montana  2020       293395
44              Delaware  2020       282489
45          South Dakota  2020       220051
46          North Dakota  2020       230338
47                Alaska  2020       322694
48  District of Columbia  2020       680192
49               Vermont  2020       277383
50               Wyoming  2020       265898

In [7]:
h=df[['RegionName']]
h=h.rename(columns={'RegionName':'name'})

In [8]:
h_2014=h
h_2014['year']=2014
h_2014['house_price']=df_2014['avg']
final=pd.concat([h_2014,h_2020])
final

                    name  year  house_price
0             California  2014       387571
1                  Texas  2014       151813
2                Florida  2014       173560
3               New York  2014       238645
4           Pennsylvania  2014       157937
..                   ...   ...          ...
46          North Dakota  2020       230338
47                Alaska  2020       322694
48  District of Columbia  2020       680192
49               Vermont  2020       277383
50               Wyoming  2020       265898

[102 rows x 3 columns]

In [9]:
h_2015=h
h_2015['year']=2015
h_2015['house_price']=df_2015['avg']
final=pd.concat([final,h_2015])
final

                    name  year  house_price
0             California  2014       387571
1                  Texas  2014       151813
2                Florida  2014       173560
3               New York  2014       238645
4           Pennsylvania  2014       157937
..                   ...   ...          ...
46          North Dakota  2015       223522
47                Alaska  2015       278216
48  District of Columbia  2015       534085
49               Vermont  2015       231567
50               Wyoming  2015       227230

[153 rows x 3 columns]

In [10]:
h_2016=h
h_2016['year']=2016
h_2016['house_price']=df_2016['avg']
final=pd.concat([final,h_2016])
final

                    name  year  house_price
0             California  2014       387571
1                  Texas  2014       151813
2                Florida  2014       173560
3               New York  2014       238645
4           Pennsylvania  2014       157937
..                   ...   ...          ...
46          North Dakota  2016       228213
47                Alaska  2016       285282
48  District of Columbia  2016       566891
49               Vermont  2016       234843
50               Wyoming  2016       234248

[204 rows x 3 columns]

In [11]:
h_2018=h
h_2018['year']=2018
h_2018['house_price']=df_2018['avg']
final=pd.concat([final,h_2018])
final

                    name  year  house_price
0             California  2014       387571
1                  Texas  2014       151813
2                Florida  2014       173560
3               New York  2014       238645
4           Pennsylvania  2014       157937
..                   ...   ...          ...
46          North Dakota  2018       220766
47                Alaska  2018       291877
48  District of Columbia  2018       628344
49               Vermont  2018       256014
50               Wyoming  2018       238880

[255 rows x 3 columns]

In [23]:
final.year.unique()

array([2014, 2020, 2015, 2016, 2018], dtype=int64)

In [27]:
final.to_excel('houseprice_14_20.xlsx')